article {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
    padding: 50px ;
    box-sizing: border-box;
}
article .aboutMe  {
    width: 100%;
    height: 100%;
}
article .aboutMe div:first-child {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}
article .aboutMe div:first-child img {
    width: 10%;
    height: 110px;
    border-radius: 50%;
    border: 2px solid rgba(42,228,197,.7);
    margin-right: 10px;
}
article .aboutMe div:first-child p {
    line-height: 25px;
    font-size: 15px;
}
article .aboutMe div:first-child h2 {
    padding-top: 20px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
}
article .aboutMe div:first-child .image img {
    width: 100%;
    height: 100%;
}

article .aboutMe div:last-child ol{
    width: 100%;
}
article .aboutMe div:last-child ol li {
    width: 10%;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 1px dashed #000;
}
article .aboutMe div:last-child p {
    padding: 20px 0;
    font-size: 15px;
    line-height: 20px;
}