

/* 导航条完成 */
/* 页面整体 */
article {
    width: 80%;
    height: 100%;
    padding: 0px 10%;
}

/*设置页面 图片放大的效果 */
article img {
    cursor: pointer;
	transition: all 0.6s;
}
article .whitebg img:hover {
    transform: scale(1.2);
}
/* 页面左边部分 */
article .lbox {
    margin: 0px;
    width: 72%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
}
article .lbox  .zhuti{
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    width: 100%;
}
article .lbox  h2 {
    line-height: 40px;
    font-size: 15px;
    border-bottom: 1px solid #cccaca;
    margin-bottom: 15px;
    position: relative;
}
article .lbox  h2::after {
    content: '';
    width: 70px;
    height: 20px;
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
article .lbox .position  {
    float: right;
    margin-top: -40px;
    font-size: 15px;
}
/* 内容部分 */
article .lbox .content h1{
    font-size: 20px;
    font-weight: 700;
}
article .lbox .content .xinxi {
    width: 100%;
    height: 35px;
    margin: 10px 0;
}
article .lbox .content .xinxi span {
    line-height: 35px;
    color: #999;
    display: inline-block;
    font-size: 15px;
}
article .lbox .content .xinxi img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid rgba(0,153,255,.9);
}
/* 个人简介部分 */
article .lbox .content .jianjie {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    padding: 10px;
    box-sizing: border-box;
    line-height: 23px;
    font-size: 15px;
    color: #888888;
}
article .lbox .content .jianjie i {
    font-weight: 700;
    margin-right: 10px;
    color: #333;
}
/* 文章内容部分 */
article .lbox .content .wenzhang {
    font-size: 15px;
    color: #000;
    line-height: 24px;
    margin-top: 10px;
}
article .lbox .content img {
    display: block;
    margin: 20px auto;
}
/* 底部部分 */
article .lbox .content .contentFooter {
    width: 100%;
    height: 180px;
}
article .lbox .content .contentFooter p {
    line-height: 45px;
    font-size:15px;
}
article .lbox .content .contentFooter div {
    padding: 10px;
    box-sizing: border-box;
    border-left: 3px solid #000;
    background-color: #f7f7f7;
    font-size: 15px;
    line-height: 23px;
    color: #000;
}
article .lbox .content .contentFooter div  i {
    font-weight: 700;
    color: #000;
}
article .lbox .content .contentFooter button {
    width: 18%;
    height: 25%;
    font-size: 18px;
    background-color: #E2523A;
    border: 0px;
    display: inline-block;
    margin: 20px auto;
    margin-left: 40%;
    border-radius: 5px;
    color: #fff;
}
article .lbox .content .pian li{
    line-height: 40px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
}
/* 相关文章 */
article .lbox .xiangguan {
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    color: #000 !important;
}
article .lbox .xiangguan .wenzhangList {
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 30px;
}
article .lbox .xiangguan .wenzhangList  li{
    width: 49%;
    display: inline-block;
    
}
/* 随机图文 */
.tuwenList {
    width: 100%;
}
.tuwenList li {
    width: 23.7%;
    display: inline-block;
    margin: 0 3px ;
    box-shadow:3px 5px 5px #CCC;
    margin-bottom: 30px;
}
.tuwenList li img {
   width: 100%;
}
.tuwenList li div {
    padding: 10px;
    box-sizing: border-box;
}
.tuwenList li p {
    line-height: 30px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}
.tuwenList li span {
    line-height: 20px;
    font-size: 15px;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow: clip;
}
article .lbox .xiangguan {
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    color: #000 !important;
}
.liuyan {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 16px;
    border-bottom: 1px solid #ccccac;
}
.liuyan img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.liuyan li span:nth-child(3) {
    float: right;
    color: #cccaca;
    font-size: 14px;
}

.liuyan li>p {
    margin-left: 78px;
    line-height: 35px;
}
/* 回复评论 */
.Reply {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
.huifu {
    width: 87%;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    border: 1px solid #b5b5b5;
    padding: 10px;
}
.huifu p {
    line-height: 30px;
    color: #ccccac; 
}
/* 右边部分 */
article .rbox {
    margin: 0px;
    padding: 0px;
    width: 24%;
    height:2000px;
    display: inline-block;
}

.new .lately {
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid  #eee;
    font-size: 17px;
    color: #333;
}
.new .lately li {
    line-height: 31px;
    margin: 0px;
    width: 31%;
}
/* 最近更新 */
.new {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #d0d2d4;
    margin-bottom: 20px;
    background-color: #fff;
}
.mingpian {
    background-color: rgba(42,42,42,1);
}
.ul {
    width: 100%;
    border-bottom:#e4e3e3 1px solid;
    margin-bottom: 10px;
}
.ul li {
    width: 8%;
    font-size: 16px;
    line-height: 40px;
}

/* 选中的样式 */
.xuanzhong  {
    border-bottom: 1.5px solid #000;
}
.new .list {
    margin-top: 20px;
}
.new .list li {
    margin:  20px 0px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    list-style-type: disc;
    z-index: 9999;
    background-color: #f6f6f6;
    color: #000;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}
/* 点击排行 */
.new p {
    display: inline-block;
    width: 100%;
    height: 130px;
    margin: 20px 0px;
}
.new .ranking  {
    width: 100%;
    height: 100%;
}
.new .ranking li{
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
    height: 20px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size: 14px;
    background-color: #fff;
    padding:5px 0;
    list-style-type: disc;
}
.new .ranking li:nth-child(2n){
    background-color: #eee;
}
.new .ranking li a {
    color: #000;
}
.gray {
    background-color: gray;
}
/* 站长推荐 */
.new .tuijian {
    width: 100%;
    margin: 10px 0;
}
.new .tuijian  li {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
}
.new .tuijian  li:hover {
    background-color: #eee;
} 
.new .tuijian  a>:first-child{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.new .tuijian  a>:last-child{
    display: inline-block;
    width: 68%;
    float: right;
    line-height: 20px;
    font-size: 13px;
    padding:12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 23px;
    max-height: 35px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #333;

}
.new .tuijian  span>:first-child  {
    width: 70px;
    height: 70px;
}
.new .smallGg {
    width: 100%;
    overflow: hidden;
}
.new .smallGg img {
    width: 100%;
}
/* 猜你喜欢 */
.new .love {
    width: 100%;
    height: 100%;
}
.new .love li{
    display: inline-block;
    width: 100%;
    margin:  10px 0;
    font-size: 15px;
    list-style-type: disc;
    color: #333;
}
.new .love li a {
    color: #333;
}
/* 站点信息 */
.new .zhandian {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #333;
}
.new .zhandian li {
    margin: 10px 0;
}
.new .zhandian a {
    padding: 10px;
    border-radius: 5px;
}
.new .zhandian a:hover {
    background-color: #eee;
}
.new .zhandian li a {
    color: #333;
}
.new  img {
    width: 80%;
    margin: 0 auto;
}