html body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
header {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    background: #1C2327;
}
.navbox {
    width: 1200px;
    height: 100%;
    margin: auto;
}
.navbox .logo {
    float: left;
    display: inline-block;
    font-size: 22px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}
/*设置a标签的文字颜色 */
.navbox .logo a {
    color: #fff;
}
/* 设置鼠标放置时的样式 */
.navbox ul .sub {
    display: none;
    background-color: #1C2327;
    width: 100%;
    height: 230%;   
    position: absolute;
    left: 0px;
    top: 50px;
}
.navbox ul .sub li {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30%;
    color: #fff;
}
/* 设置鼠标放置  显示下拉菜单 */
.navbox nav .menu:hover .sub {
    display: block;
}
/* 设置鼠标放置 变换颜色 */
.navbox a:hover {
    color: #00c1de;
}
nav {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: auto;
}
nav ul {
    height: 100%;
}
nav ul li{
    position: relative;
    float: left;
    font-size: 15px;
    padding: 0px 20px;
}
/* 设置字体的颜色为白色 */
nav ul li a {
    color: #fff;
}

/* 设置选中时的样式 */
.selected {
    color: #00c1de;
}
/* 设置放大镜的图标 */
.navbox .iconfont {
    margin-top: 8px;
    width: 10%;
    height: 60%;
    float: right;
    border: 1px solid #bebebe;
    border-radius: 20px;
    padding: 2px 15px;
}
.navbox .iconfont input {
    margin-top: 5px;
    width: 75%;
    height: 87%;
    font-size: 15px;
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-weight: 300;
}
.navbox .iconfont input:focus .iconfont {
    background-color:yellow;
} 
.navbox .iconfont i {
    padding: 1px;
    margin: 0px;
    border : 0px;
    margin-top: 2px;
    font-size: 20px;
    color: #bebebe;
}