header {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    background: #1C2327;
}
.navbox {
    width: 1200px;
    height: 100%;
    margin: auto;
}
.navbox .logo {
    float: left;
    display: inline-block;
    font-size: 22px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 60px;
}
/*设置a标签的文字颜色 */
.navbox .logo a {
    color: #fff;
}
/* 设置鼠标放置时的样式 */
.navbox ul .sub {
    display: none;
    background-color: #1C2327;
    width: 100%;
    height: 230%;   
    position: absolute;
    left: 0px;
    top: 50px;
}
.navbox ul .sub li {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30%;
    color: #fff;
}
/* 设置鼠标放置  显示下拉菜单 */
.navbox nav .menu:hover .sub {
    display: block;
}
/* 设置鼠标放置 变换颜色 */
.navbox a:hover {
    color: #00c1de;
}
nav {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: auto;
}
nav ul {
    height: 100%;
}
nav ul li{
    position: relative;
    float: left;
    font-size: 15px;
    padding: 0px 20px;
}
/* 设置字体的颜色为白色 */
nav ul li a {
    color: #fff;
}

/* 设置选中时的样式 */
.selected {
    color: #00c1de;
}
/* 设置放大镜的图标 */
.navbox .iconfont {
    margin-top: 8px;
    width: 10%;
    height: 60%;
    float: right;
    border: 1px solid #bebebe;
    border-radius: 20px;
    padding: 2px 15px;
}
.navbox .iconfont input {
    margin-top: 5px;
    width: 75%;
    height: 87%;
    font-size: 15px;
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-weight: 300;
}
.navbox .iconfont input:focus .iconfont {
    background-color:yellow;
} 
.navbox .iconfont i {
    padding: 1px;
    margin: 0px;
    border : 0px;
    margin-top: 2px;
    font-size: 20px;
    color: #bebebe;
}

/* 导航条完成 */
/* 页面整体 */
article {
    width: 80%;
    height: 100%;
    padding: 0px 10%;
}
/* 页面左边部分 */
article .lbox {
    margin: 0px;
    padding: 20px;
    width: 75%;
    height: 100%;
    display: inline-block;
    background-color: yellow;
    box-sizing: border-box;
    float: left;
}
article .lbox .banner {
    width: 100%;
    height: 260px;
}
article .lbox .banner .lunbobox {
    width: 65%;
    height: 100%;
    background-color: #563194;
    float: left;
}
article .lbox .banner .headline {
    width: 33%;
    height: 100%;
    background-color: #123456;
    float: right;
    position: relative;
}
article .lbox .banner .headline div {
    width: 100%;
    height: 47%;
    background-color: #491219;
    box-sizing: border-box;
    border-radius: 4px;
}
/* 利用定位 把下边的元素 定位到下边 */
article .lbox .banner .headline div:last-child {
    position: absolute;
    bottom: 0px;
}
/* <!-- 个人播客部分 --> */
article .lbox .whitebg {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}
article .lbox .whitebg .ul {
    width: 100%;
    border-bottom:#e4e3e3 1px solid;
}
article .lbox .whitebg .ul li {
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

article .lbox .whitebg .newstab {
    width: 100%;
    height: 85%;
    margin-top: 20px;
    background-color: red;
}
/*  个人播客部分 ->左边部分 */
article .lbox .whitebg .newstab .newspic {
    width: 30%;
    height: 100%;
    background-color: #369852;
    display: inline-block;
}
article .lbox .whitebg .newstab .newspic div {
    width: 100%;
    height: 110px;
    background-color: #456313;
    border-radius: 4px; 
}
article .lbox .whitebg .newstab .newspic div:last-child {
    margin-top: 10px;
}
/* 个人播客部分 ->右边部分 */
article .lbox .whitebg .newstab .newslist {
    width: 67%;
    height: 100%;
    background-color: #fff;
    float: right;
}
article .lbox .whitebg .newstab .newslist li {
    margin: 0px 10px 8px 10px;
    color: #333;
}
article .lbox .whitebg .newstab .newslist li a {
    font-size: 15px;
    font-weight: 500;
}
article .lbox .whitebg .newstab .newslist li p {
    display: none;
}
article .lbox .whitebg .newstab .newslist li i {
    display: inline-block;
    margin-top: 6px;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background-color: #8B8B83;
}
.xuanzhong  {
    border-bottom: 1.5px solid #000;
}

 /* 特别推荐部分的样式  头部部分
   此处的border属性和 上边的ul属性一样*/
.htitle {
    text-align: right;
    border-bottom:#e4e3e3 1px solid;
    font-size: 17px;
    line-height: 30px;
    color: #ccc;
    margin-bottom: 10px;
}
.htitle li {
    display: inline-block;
}
.htitle li a {
    color: #000;
}
.htitle li:first-child {
    float: left;
}
/* 特别推荐部分的样式   内容主题部分 */
.whitebg .content{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap:wrap;
}
.whitebg .content li {
    width: 33.05%;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 20px;
    
}
.whitebg .content li img {
    width: 100%;
    height: 100px;
}
.whitebg .content li p {
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size: 13px;
    color: #333;
    margin: 10px 0px;
    font-weight: 700;
}
.whitebg .content li span {
    font-size: 13px;
    margin: 10px 0px;
    color: #999;
    line-height: 15px;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow: clip;
}
.whitebg .content li a {
    font-size: 15px;
    color: #369852;
}
/* 广告部分 */
.guanggao img{
    width: 100%;
    height: 100px;
}
/* 最新博文开始 */
.whitebg .conList .have  {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-bottom: 1px dotted  #333;
    padding-bottom: 10px;
}
.whitebg .conList .have i{
    color: red;
    font-size: 18px;
    font-weight: 700;
}
.whitebg .conList .have h2 {
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
}
.whitebg .conList .have .Listcontent {
    width: 100%;
    height: 100%;
    position: relative;

}
 .whitebg .conList .have .Listcontent div:first-child{
    display: inline-block;
    margin-right: 10px;
    border-radius: 5%;
    width: 23%;
    height: 120px;
    background-color: yellow;
}
.whitebg .conList .have .Listcontent div:first-child img {
    width: 100%;
    height: 100%;

}
.whitebg .conList .have .Listcontent div:last-child {
    width: 75%;
    height: 100%;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.whitebg .conList .have .Listcontent .footer {
    display: inline-block;
    width: 75%;
    height: 30px;
    line-height: 30px;
    color: #999;
    position: absolute;
    bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.whitebg .conList .have .Listcontent .footer img{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 4px
}
.sheji {
    color: #096;
}
.more {
    height: 123px;
    float: right;
    width: 80px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    background-color: #12b7de;
    border-radius: 4px;
    color: #fff;
}
.have .footer img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.notimg {
     display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notimg img {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 4px
}
/* 右边部分 */
article .rbox {
    margin: 0px;
    padding: 0px;
    width: 24%;
    height:2000px;
    display: inline-block;
    background-color: blue;
}
.card {
    margin-top: 20px;
    width: 100%;
    background-color: rgba(42,42,42,1);
    padding: 10px;
    box-sizing: border-box;
    color: #d0d2d4;
    margin-bottom: 20px;
}
.card h1 {
    color: #89919a;
    font-size: 25px;
    font-weight: 700;
}
.card ul {
    padding: 10px;
}
.card ul li {
    margin: 15px 0px;
}
.card ol {
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}
.card ol li {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: yellow;
    margin: 8px;
}
/* 最近更新 */
.new {
    margin-top: 20px;
    width: 100%;
    background-color: rgba(42,42,42,1);
    padding: 20px;
    box-sizing: border-box;
    color: #d0d2d4;
    margin-bottom: 20px;
}
.new .lately {
    padding: 0px;
    width: 100%;
    border-bottom: 1px dotted  #333;
}
.new .lately li {
    line-height: 31px;
    margin: 0px;
    width: 20%;
}
.new .list {
    margin-top: 20px;
}
.new .list li {
    margin:  20px 0px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    list-style-type: disc;
    z-index: 9999;
    background-color: #f6f6f6;
    color: #000;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}
/* 点击排行 */
.new p {
    display: inline-block;
    width: 100%;
    height: 130px;
    background-color: red;
    margin: 20px 0px;
}
.new .ranking  {
    width: 100%;
    height: 100%;
}
.new .ranking li{
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
    height: 20px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size: 16px;
    background-color: #fff;
    padding:5px 0;
}
.gray {
    background-color: gray;
}
/* 站长推荐 */
.new .tuijian {
    width: 100%;
    margin: 10px 0; 
}
.new .tuijian  li {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.new .tuijian  a>:first-child{
    display: inline-block;
}
.new .tuijian  a>:last-child{
    display: inline-block;
    width: 70%;
    float: right;
    line-height: 20px;
    font-size: 13px;
    padding:12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 23px;
    max-height: 35px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.new .tuijian  span>:first-child  {
    width: 70px;
    height: 70px;
}
.new .smallGg {
    width: 100%;
}
.new .smallGg img {
    width: 100%;
}
/* 猜你喜欢 */
.new .love {
    width: 100%;
    height: 100%;
}
.new .love li{
    display: inline-block;
    width: 100%;
    margin:  10px 0;
    background-color: red;
    font-size: 15px;
    list-style-type: disc;
}
/* 站点信息 */
.new .zhandian {
    width: 100%;
    height: 100%;
    font-size: 15px;
}
.new .zhandian li {
    margin: 10px 0;
}
.new  img {
    width: 80%;
    margin: 0 auto;
}